<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/connect.css">
    <title>Connected</title>
</head>
<body>
    <div class="card-container">
        <span class="pro">Void</span>
        <img class="round" src="assets/profile.jpg" alt="user" />
        <h3>Sanskar Dhanotiya</h3>
        <h6>India</h6>
        <p>Front-End Developer And <br/> Ui/Ux Designer  </p>
        <div class="buttons">
            <button onclick="alert('Contact Me On Whatsapp 7806073639')" class="primary">
                Contact-Me
            </button>
            <button onclick="alert('Email- sanskardhanotiya108@gmail.com')" class="primary ghost">
                Email-Me
            </button>
        </div>
        <div class="skills">
            <h6>Skills</h6>
            <ul>
                <li>UI / UX</li>
                <li>Front End Development</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Node</li>
                <li>SQL</li>
                <li>Programming</li>
                <li>Data Structure</li>
                <li>Algorithm</li>
                <li>Problem Solving</li>
            </ul>
        </div>
    </div>
    
    <footer>
    <div class="footer">
       <p> Created With <i class="fa fa-heart red"></i> By Sanskar Dhanotiya </p>
        <a href="https://github.com/Sanskar-Dhanotiya" class="hover-lins"><i class="fa-brands fa-github fa-xl"></i></a>
        <a href="https://www.linkedin.com/in/sanskar-dhanotiya-9961ba203/" class="hover-lins"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="https://www.instagram.com/sanskarrrr_24/" class="hover-lins"><i class="fa-brands fa-instagram fa-xl"></i></a>
    </div>
    </footer>
    <script src="https://kit.fontawesome.com/e44ab2ef2b.js" crossorigin="anonymous"></script>  
</body>
</html>